# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.DS_Store
system-config.js*
app/**/*.js
app/**/*.map
node_modules
jspm_packages
bower_components
aot/*
dist/*
yarn.lock
